.version.index /* version checker */
{
	color: #0000EF;
	background-color: #BA835B;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	width: 100%;
	z-index: 1;
	background-image: none;
	border-color: #000000;
	border-width: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

#u1914
{
	height: 62px;
	top: 0px;
	position: fixed;
	z-index: 88;
}

#u1914-bw
{
	z-index: 88;
}

#u1898-4
{
	top: 20px;
	left: 20px;
	z-index: 89;
	min-height: 42px;
	position: fixed;
}

#slideshowu2576
{
	height: 739px;
	width: 0.01px;
	position: relative;
	z-index: 9;
}

#u2588
{
	height: 739px;
	position: absolute;
	background-color: transparent;
}

#u2588popup
{
	z-index: 10;
}

#u4633
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 11;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

#u4701
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 13;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

#u4765
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 15;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

#u4829
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 17;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

#u4893
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 19;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

#u4965
{
	height: 739px;
	box-shadow: 0px 12px 8px rgba(0,0,0,0.5);
	z-index: 21;
	border-color: transparent;
	border-width: 0px;
	-pie-box-shadow: none;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#l2
{
	top: -62px;
	margin-bottom: -18px;
	position: relative;
}

#u2926-4
{
	text-align: center;
	z-index: 28;
	min-height: 50px;
	color: #FFFFFF;
	position: relative;
	line-height: 46px;
	background-color: transparent;
}

#u5034
{
	border-radius: 210px;
	margin-left: 50%;
	z-index: 84;
	position: relative;
	background-color: transparent;
}

#u5052
{
	border-radius: 210px;
	margin-left: 50%;
	z-index: 86;
	position: relative;
	background-color: transparent;
}

#u5034 .clip_frame,#u5052 .clip_frame
{
	-webkit-border-radius: 210px 210px 210px 210px;
}

#u2925-4
{
	z-index: 24;
	color: #FFFFFF;
	position: relative;
	line-height: 22px;
	background-color: transparent;
}

#u2927-4
{
	z-index: 32;
	color: #FFFFFF;
	position: relative;
	line-height: 22px;
	background-color: transparent;
}

#pu2924
{
	width: 100%;
}

#u2924
{
	border-width: 0px;
	border-color: transparent;
	z-index: 23;
	background-color: transparent;
}

#u2924-bw
{
	z-index: 23;
}

#u2928-4
{
	text-align: center;
	z-index: 36;
	margin-right: -10000px;
	min-height: 59px;
	position: relative;
	line-height: 46px;
	background-color: transparent;
}

#l4
{
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u4513
{
	position: relative;
	z-index: 41;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u2932
{
	width: 182px;
	position: relative;
	z-index: 48;
	background-color: transparent;
}

#u2929-6
{
	text-align: center;
	width: 100%;
	z-index: 42;
	margin-top: 26px;
	min-height: 71px;
	position: relative;
	line-height: 22px;
	background-color: transparent;
}

#u4506
{
	position: relative;
	z-index: 50;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

#u2934
{
	width: 182px;
	position: relative;
	z-index: 57;
	background-color: transparent;
}

#u2930-6
{
	text-align: center;
	position: relative;
	z-index: 51;
	margin-top: 25px;
	min-height: 72px;
	line-height: 22px;
	background-color: transparent;
}

#u4499
{
	z-index: 59;
	border-color: transparent;
	border-width: 0px;
	position: relative;
	background-color: transparent;
}

#u2936
{
	width: 182px;
	position: relative;
	z-index: 66;
	background-color: transparent;
}

#u2931-6
{
	text-align: center;
	position: relative;
	z-index: 60;
	margin-top: 25px;
	min-height: 72px;
	line-height: 22px;
	background-color: transparent;
}

#u4492
{
	z-index: 68;
	border-color: transparent;
	border-width: 0px;
	position: relative;
	background-color: transparent;
}

#u2940
{
	border-radius: 30px;
	width: 182px;
	z-index: 69;
	position: relative;
	background-color: transparent;
}

#u2940 .clip_frame
{
	-webkit-border-radius: 30px 30px 30px 30px;
}

#u2942-6
{
	text-align: center;
	width: 100%;
	z-index: 71;
	margin-top: 25px;
	min-height: 72px;
	position: relative;
	line-height: 22px;
	background-color: transparent;
}

#u4197-4
{
	text-align: center;
	z-index: 80;
	min-height: 50px;
	color: #FFFFFF;
	position: relative;
	line-height: 46px;
	background-color: transparent;
}

#u3267
{
	z-index: 40;
	background-color: transparent;
	border-width: 0px;
	position: relative;
	border-color: transparent;
}

#u3271-3
{
	z-index: 77;
	min-height: 89px;
	position: relative;
	background-color: transparent;
}

#u1907_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u1966-4
{
	z-index: 3;
	min-height: 22px;
	position: relative;
}

#u1969
{
	z-index: 7;
	position: relative;
}

#u1970
{
	z-index: 8;
}

#u1907,#u1907-bw
{
	z-index: 2;
}

.html
{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #000000;
	background-size: cover;
}

#l1,#l3,body
{
	position: relative;
}

@media (min-width: 993px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 748.7999999999993px;
		padding-bottom: 1.2000000000007276px;
		max-width: 1200px;
	}

	#menuu1944
	{
		z-index: 93;
		position: fixed;
		top: 12px;
		right: 20px;
		width: 37.17%;
		max-width: 446px;
	}

	#u1952
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 32.96%;
	}

	#u1955
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1955:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1955:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1958-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1955:hover #u1958-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1955:active #u1958-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1959
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 32.96%;
		left: 33.41%;
	}

	#u1962
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1955.MuseMenuActive,#u1962:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1962:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1963-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1955.MuseMenuActive #u1958-4,#u1962:hover #u1963-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1962:active #u1963-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1945
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 33.19%;
		left: 66.82%;
	}

	#u1948
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1962.MuseMenuActive,#u1948:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1948:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1948.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1949-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1962.MuseMenuActive #u1963-4,#u1948:hover #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1948:active #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1948.MuseMenuActive #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1898-4
	{
		width: 28.5%;
		max-width: 342px;
	}

	#u2588,#u4633,#u4701,#u4765,#u4829,#u4893,#u4965
	{
		width: 1200px;
	}

	#u2926-4
	{
		margin-top: 70px;
		width: 96.67%;
		margin-left: 1.67%;
	}

	#pu5034
	{
		margin-top: 37px;
		width: 100%;
	}

	#u5034
	{
		width: 319px;
		margin-right: -10000px;
		left: -460px;
	}

	#u5052
	{
		width: 319px;
		margin-right: -10000px;
		left: 141px;
	}

	#pl3
	{
		margin-top: 16px;
		width: 100%;
	}

	#l3
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 185px;
	}

	#u2925-4
	{
		min-height: 194px;
		margin-right: -10000px;
		width: 33.34%;
		margin-left: 33.34%;
		left: -300px;
	}

	#u2927-4
	{
		min-height: 194px;
		margin-right: -10000px;
		width: 33.34%;
		margin-left: 33.34%;
		left: 300px;
	}

	#slideshowu2576,#pu2924
	{
		margin-top: 44px;
	}

	#u2924,#u2924-bw
	{
		min-height: 740px;
	}

	#u2928-4
	{
		margin-top: 142px;
		width: 96.67%;
		left: 1.67%;
	}

	#u4513
	{
		margin-right: -10000px;
		margin-top: 277px;
		width: 20.5%;
		left: 1.09%;
	}

	#u2932
	{
		margin-left: 13.01%;
	}

	#l4
	{
		margin-top: 678px;
		left: 18px;
	}

	#u4506
	{
		margin-right: -10000px;
		margin-top: 277px;
		width: 20.84%;
		left: 26.67%;
	}

	#u2934
	{
		margin-left: 13.61%;
	}

	#u4499
	{
		margin-right: -10000px;
		margin-top: 271px;
		width: 19%;
		left: 53.34%;
	}

	#u2930-6,#u2931-6
	{
		width: 100%;
	}

	#u4492
	{
		margin-right: -10000px;
		margin-top: 271px;
		width: 19%;
		left: 79.09%;
	}

	#u2936,#u2940
	{
		margin-left: 10.09%;
	}

	#u4197-4
	{
		margin-top: 44px;
		width: 96.67%;
		margin-left: 1.67%;
	}

	#u3267
	{
		min-height: 444px;
		margin-top: 80px;
		width: 64%;
		margin-left: 18.09%;
	}

	#u3271-3
	{
		margin-top: 58px;
		width: 6%;
		margin-left: 1.67%;
	}

	#u1907
	{
		min-height: 230px;
		padding-bottom: 20px;
	}

	#u1907_align_to_page
	{
		margin-bottom: -1px;
	}

	#u1966-4
	{
		margin-right: -10000px;
		margin-top: 27px;
		width: 48.34%;
		left: 4.59%;
	}

	#u1969
	{
		width: 336px;
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 100%;
		left: -387px;
	}

	#u1907-bw
	{
		min-height: 230px;
		margin-top: -1px;
	}

	.html
	{
		background-image: url("../images/background.jpg");
	}
}

@media (min-width: 769px) and (max-width: 992px)
{
	#muse_css_mq
	{
		background-color: #0003e0;
	}

	#bp_992.active
	{
		display: block;
	}

	#page
	{
		min-height: 748.7999999999993px;
		padding-bottom: 1.2000000000007276px;
		max-width: 992px;
	}

	#menuu1944
	{
		z-index: 93;
		position: fixed;
		top: 14px;
		right: 20px;
		width: 37.2%;
		max-width: 369px;
	}

	#u1952
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 32.8%;
	}

	#u1955
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1955:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1955:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1958-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1955:hover #u1958-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1955:active #u1958-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1959
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 32.8%;
		left: 33.34%;
	}

	#u1962
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1955.MuseMenuActive,#u1962:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1962:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1963-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1955.MuseMenuActive #u1958-4,#u1962:hover #u1963-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1962:active #u1963-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1945
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 33.07%;
		left: 66.67%;
	}

	#u1948
	{
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u1962.MuseMenuActive,#u1948:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1948:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1948.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1949-4
	{
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		top: 6px;
		width: 100%;
	}

	#u1962.MuseMenuActive #u1963-4,#u1948:hover #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1948:active #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1948.MuseMenuActive #u1949-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1898-4
	{
		width: 47.99%;
		max-width: 476px;
	}

	#slideshowu2576
	{
		margin-top: 44px;
	}

	#u2588,#u4633,#u4701,#u4765,#u4829,#u4893,#u4965
	{
		width: 992px;
	}

	#u2926-4
	{
		margin-top: 48px;
		width: 95.97%;
		margin-left: 2.02%;
	}

	#pu5034
	{
		margin-top: 48px;
		width: 100%;
	}

	#u5034
	{
		width: 319px;
		margin-right: -10000px;
		left: -384px;
	}

	#u5052
	{
		width: 319px;
		margin-right: -10000px;
		left: 63px;
	}

	#pl3
	{
		margin-top: 22px;
		width: 100%;
	}

	#l3
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 190px;
	}

	#u2925-4
	{
		min-height: 250px;
		margin-right: -10000px;
		width: 32.16%;
		margin-left: 33.93%;
		left: -225px;
	}

	#u2927-4
	{
		min-height: 250px;
		margin-right: -10000px;
		width: 32.16%;
		margin-left: 33.93%;
		left: 223px;
	}

	#pu2924
	{
		margin-top: 2px;
	}

	#u2924,#u2924-bw
	{
		min-height: 740px;
	}

	#u2928-4
	{
		margin-top: 34px;
		width: 96.17%;
		left: 1.92%;
	}

	#l4
	{
		margin-top: 678px;
		left: 19px;
	}

	#pu4513
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 117px;
		width: 20.47%;
		margin-left: 39.77%;
	}

	#u4513
	{
		width: 100%;
		margin-left: 0%;
		left: -215.5px;
	}

	#u4499
	{
		margin-top: 23px;
		width: 92.62%;
		margin-left: 3.7%;
		left: -223.5px;
	}

	#pu4506
	{
		margin-right: -10000px;
		margin-top: 117px;
		width: 20.87%;
		margin-left: 39.57%;
	}

	#u4506
	{
		width: 100%;
		margin-left: 0%;
		left: 215.50000000000006px;
	}

	#u2934
	{
		margin-left: 50%;
		left: -92px;
	}

	#u2931-6,#u2930-6
	{
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u4492
	{
		margin-top: 23px;
		width: 90.83%;
		margin-left: 4.59%;
		left: 215.50000000000006px;
	}

	#u2932,#u2936,#u2940
	{
		margin-left: 50%;
		left: -91px;
	}

	#u2929-6,#u2942-6
	{
		margin-left: 0%;
		left: 0px;
	}

	#u4197-4
	{
		margin-top: 55px;
		width: 96.07%;
		margin-left: 1.92%;
	}

	#u3267
	{
		min-height: 426px;
		margin-top: 55px;
		width: 77.42%;
		margin-left: 11.3%;
	}

	#u3271-3
	{
		margin-top: 72px;
		width: 6.05%;
		margin-left: 1.72%;
	}

	#u1907
	{
		min-height: 230px;
		padding-bottom: 20px;
	}

	#u1966-4
	{
		margin-right: -10000px;
		margin-top: 33px;
		width: 48.29%;
		left: 4.34%;
	}

	#u1969
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 33.88%;
		margin-left: 66.13%;
		left: -20px;
	}

	#u1970
	{
		width: 100%;
	}

	#u1907-bw
	{
		min-height: 230px;
		margin-top: 36px;
	}

	.html
	{
		background-image: url("../images/background992x1488.jpg");
	}
}

@media (min-width: 481px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 748.6999999999994px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#pu1914
	{
		padding-bottom: 62px;
		width: 100%;
	}

	#accordionu1915
	{
		z-index: 93;
		position: fixed;
		top: 0px;
	}

	#u1916
	{
		z-index: 94;
	}

	#u1917-3
	{
		z-index: 95;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u1917-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-2
	{
		margin-left: 10px;
	}

	#u1918
	{
		z-index: 98;
		padding-bottom: 8px;
	}

	#menuu1919
	{
		z-index: 99;
		min-height: 136px;
	}

	#u1937
	{
		min-height: 22px;
		padding-bottom: 22px;
		position: relative;
	}

	#u1937:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1940-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1937:hover #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923
	{
		min-height: 22px;
		padding-bottom: 22px;
		position: relative;
	}

	#u1937.MuseMenuActive,#u1923:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1924-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1937.MuseMenuActive #u1940-4,#u1923:hover #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928
	{
		min-height: 22px;
		padding-bottom: 22px;
		position: relative;
	}

	#u1923.MuseMenuActive,#u1928:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1931-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1923.MuseMenuActive #u1924-4,#u1928:hover #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1920,#u1927
	{
		margin-top: 2px;
	}

	#menuu1919-bw
	{
		z-index: 99;
		min-height: 136px;
		margin-top: 8px;
	}

	#accordionu1915-bw
	{
		z-index: 93;
	}

	#l1
	{
		top: -62px;
		margin-bottom: -18px;
	}

	#u1898-4
	{
		width: 51.18%;
		max-width: 393px;
	}

	#u2588,#u4633,#u4701,#u4765,#u4829,#u4893,#u4965
	{
		width: 768px;
	}

	#u2926-4
	{
		margin-top: 35px;
		width: 94.8%;
		margin-left: 2.61%;
	}

	#pu5034
	{
		margin-top: 35px;
		width: 100%;
	}

	#u5034
	{
		width: 224px;
		margin-right: -10000px;
		left: -241px;
	}

	#u5052
	{
		width: 224px;
		margin-right: -10000px;
		left: 16px;
	}

	#u2925-4
	{
		min-height: 194px;
		margin-top: 26px;
		width: 62.64%;
		margin-left: 18.69%;
		left: -1px;
	}

	#pl3
	{
		margin-top: 1px;
		width: 100%;
	}

	#l3
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 150px;
	}

	#u2927-4
	{
		min-height: 194px;
		margin-right: -10000px;
		width: 62.64%;
		margin-left: 18.69%;
		left: -1px;
	}

	#pu2924
	{
		margin-top: 18px;
	}

	#u2924,#u2924-bw
	{
		min-height: 756px;
	}

	#u2928-4
	{
		margin-top: 38px;
		width: 95.06%;
		left: 2.35%;
	}

	#l4
	{
		margin-top: 694px;
		left: 20px;
	}

	#pu4513
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 123px;
		width: 23.7%;
		margin-left: 38.16%;
	}

	#u4513
	{
		width: 100%;
		margin-left: 0%;
		left: -150px;
	}

	#u4499
	{
		margin-top: 31px;
		width: 100%;
		margin-left: 0%;
		left: -150px;
	}

	#u2932,#u2936
	{
		margin-left: 50%;
		left: -91px;
	}

	#u2931-6
	{
		width: 99.46%;
		margin-left: 0.28%;
		left: 1px;
	}

	#pu4506
	{
		margin-right: -10000px;
		margin-top: 123px;
		width: 23.96%;
		margin-left: 38.03%;
	}

	#u4506
	{
		width: 100%;
		margin-left: 0%;
		left: 148px;
	}

	#u2930-6
	{
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u4492
	{
		margin-top: 32px;
		width: 100%;
		margin-left: 0%;
		left: 148px;
	}

	#u2934,#u2940
	{
		margin-left: 50%;
		left: -90px;
	}

	#u2929-6,#u2942-6
	{
		margin-left: 0%;
		left: 0px;
	}

	#u4197-4
	{
		margin-top: 38px;
		width: 94.8%;
		margin-left: 2.48%;
	}

	#u3267
	{
		min-height: 418px;
		margin-top: 26px;
		width: 62.64%;
		margin-left: 18.62%;
	}

	#u3271-3
	{
		margin-top: 68px;
		width: 5.99%;
		margin-left: 1.7%;
	}

	#u1907
	{
		min-height: 229px;
		padding-bottom: 21px;
	}

	#u1907_align_to_page
	{
		margin-bottom: -2px;
	}

	#u1966-4
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 65.11%;
		left: 2.61%;
	}

	#u1969
	{
		width: 336px;
		margin-right: -10000px;
		margin-top: 19px;
		margin-left: 100%;
		left: -356px;
	}

	#u1907-bw
	{
		min-height: 229px;
		margin-top: -2px;
	}

	.html
	{
		background-image: url("../images/background768x1152.jpg");
	}

}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 749.9999999999991px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#pu1914
	{
		padding-bottom: 62px;
		width: 100%;
	}

	#accordionu1915
	{
		z-index: 93;
		position: fixed;
		top: 0px;
	}

	#u1916
	{
		z-index: 94;
	}

	#u1917-3
	{
		z-index: 95;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u1917-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-2
	{
		margin-left: 10px;
	}

	#u1918
	{
		z-index: 98;
		padding-bottom: 8px;
	}

	#u1937
	{
		min-height: 22px;
		padding-bottom: 26px;
		position: relative;
	}

	#u1937:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1940-4
	{
		min-height: 22px;
		position: relative;
		top: 13px;
	}

	#u1937:hover #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923
	{
		min-height: 22px;
		padding-bottom: 26px;
		position: relative;
	}

	#u1937.MuseMenuActive,#u1923:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1924-4
	{
		min-height: 22px;
		position: relative;
		top: 13px;
	}

	#u1937.MuseMenuActive #u1940-4,#u1923:hover #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928
	{
		min-height: 22px;
		padding-bottom: 27px;
		position: relative;
	}

	#u1923.MuseMenuActive,#u1928:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1931-4
	{
		min-height: 22px;
		position: relative;
		top: 13px;
	}

	#u1923.MuseMenuActive #u1924-4,#u1928:hover #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1920,#u1927
	{
		margin-top: 2px;
	}

	#menuu1919,#menuu1919-bw
	{
		z-index: 99;
		min-height: 149px;
	}

	#accordionu1915-bw
	{
		z-index: 93;
	}

	#l1
	{
		top: -62px;
		margin-bottom: -18px;
	}

	#u1898-4
	{
		width: 62.3%;
		max-width: 299px;
	}

	#u2588,#u4633,#u4701,#u4765,#u4829,#u4893,#u4965
	{
		width: 480px;
	}

	#u2926-4
	{
		margin-top: 29px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#u5034
	{
		width: 281px;
		margin-top: 28px;
		left: -141px;
	}

	#u5052
	{
		width: 281px;
		margin-top: 37px;
		left: -141px;
	}

	#u2925-4
	{
		min-height: 194px;
		margin-top: 36px;
		width: 66.46%;
		margin-left: 16.78%;
		left: 1px;
	}

	#u2927-4
	{
		min-height: 194px;
		margin-top: 36px;
		width: 66.46%;
		margin-left: 16.78%;
		left: -1px;
	}

	#pu2924
	{
		margin-top: 44px;
	}

	#u2924,#u2924-bw
	{
		min-height: 1429px;
	}

	#u2928-4
	{
		margin-top: 56px;
		width: 96.67%;
		left: 1.67%;
	}

	#l4
	{
		margin-top: 1367px;
		left: 20px;
	}

	#pu4513
	{
		margin-right: -10000px;
		margin-top: 153px;
		width: 38.13%;
		margin-left: 30.94%;
	}

	#u4513
	{
		width: 99.46%;
		margin-left: 0.28%;
		left: -0.5px;
	}

	#u4506
	{
		margin-top: 37px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2930-6
	{
		width: 99.46%;
		margin-left: 0.28%;
		left: -1px;
	}

	#u2931-6
	{
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u4499,#u4492
	{
		margin-top: 37px;
		width: 99.46%;
		margin-left: 0.28%;
		left: -0.5px;
	}

	#u2932,#u2934,#u2936,#u2940
	{
		margin-left: 50%;
		left: -91px;
	}

	#u2929-6,#u2942-6
	{
		margin-left: 0%;
		left: 0px;
	}

	#u4197-4
	{
		margin-top: 48px;
		width: 96.67%;
		margin-left: 1.67%;
	}

	#u3267
	{
		min-height: 418px;
		margin-top: 52px;
		width: 66.67%;
		margin-left: 16.67%;
	}

	#u3271-3
	{
		margin-top: 33px;
		width: 6.05%;
		margin-left: 1.67%;
	}

	#u1907_align_to_page
	{
		padding-top: 18px;
		padding-bottom: 20px;
	}

	#u1966-4
	{
		width: 48.34%;
		left: 4.17%;
	}

	#u1969
	{
		margin-top: 6px;
		width: 57.5%;
		margin-left: 42.51%;
		left: -21px;
	}

	#u1970
	{
		width: 100.37%;
	}

	#u1907,#u1907-bw
	{
		min-height: 250px;
	}

	.html
	{
		background-image: url("../images/background480x720.jpg");
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 749.8999999999996px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#pu1914
	{
		padding-bottom: 62px;
		width: 100%;
	}

	#accordionu1915
	{
		z-index: 93;
		position: fixed;
		top: 0px;
	}

	#u1916
	{
		z-index: 94;
	}

	#u1917-3
	{
		z-index: 95;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u1917-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u1917-2
	{
		margin-left: 10px;
	}

	#u1918
	{
		z-index: 98;
		padding-bottom: 11px;
	}

	#menuu1919
	{
		z-index: 99;
		min-height: 139px;
	}

	#u1937
	{
		min-height: 22px;
		padding-bottom: 23px;
		position: relative;
	}

	#u1937:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1940-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1937:hover #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1937:active #u1940-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923
	{
		min-height: 22px;
		padding-bottom: 23px;
		position: relative;
	}

	#u1937.MuseMenuActive,#u1923:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1924-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1937.MuseMenuActive #u1940-4,#u1923:hover #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1923:active #u1924-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928
	{
		min-height: 22px;
		padding-bottom: 23px;
		position: relative;
	}

	#u1923.MuseMenuActive,#u1928:hover
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive
	{
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1931-4
	{
		min-height: 22px;
		position: relative;
		top: 11px;
	}

	#u1923.MuseMenuActive #u1924-4,#u1928:hover #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928:active #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1928.MuseMenuActive #u1931-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		margin: 0px 0px 0px 0%;
	}

	#u1920,#u1927
	{
		margin-top: 2px;
	}

	#menuu1919-bw
	{
		z-index: 99;
		min-height: 139px;
		margin-top: 4px;
	}

	#accordionu1915-bw
	{
		z-index: 93;
	}

	#l1
	{
		top: -62px;
		margin-bottom: -18px;
	}

	#u1898-4
	{
		width: 87.5%;
		max-width: 280px;
	}

	#u2588,#u4633,#u4701,#u4765,#u4829,#u4893,#u4965
	{
		width: 320px;
	}

	#u2926-4
	{
		margin-top: 29px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u5034
	{
		width: 281px;
		margin-top: 28px;
		left: -141px;
	}

	#u5052
	{
		width: 281px;
		margin-top: 37px;
		left: -141px;
	}

	#u2925-4
	{
		min-height: 262px;
		margin-top: 37px;
		width: 87.5%;
		margin-left: 6.25%;
		left: 0px;
	}

	#pu2927-4
	{
		margin-top: 16px;
		width: 100%;
	}

	#u2927-4
	{
		min-height: 228px;
		margin-right: -10000px;
		width: 87.5%;
		margin-left: 6.25%;
		left: 0px;
	}

	#l3
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 203px;
		left: 20px;
	}

	#pu2924
	{
		margin-top: 37px;
	}

	#u2924,#u2924-bw
	{
		min-height: 1350px;
	}

	#u2928-4
	{
		margin-top: 49px;
		width: 87.5%;
		left: 5.94%;
	}

	#l4
	{
		margin-top: 1288px;
		left: 20px;
	}

	#pu4513
	{
		margin-right: -10000px;
		margin-top: 137px;
		width: 56.88%;
		margin-left: 21.57%;
	}

	#u4513
	{
		width: 100%;
		margin-left: 0%;
		left: -1px;
	}

	#u4499
	{
		margin-top: 28px;
		width: 100%;
		margin-left: 0%;
		left: -1px;
	}

	#u2930-6,#u2931-6
	{
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u4506,#u4492
	{
		margin-top: 29px;
		width: 100%;
		margin-left: 0%;
		left: -1px;
	}

	#u2932,#u2934,#u2936,#u2940
	{
		margin-left: 50%;
		left: -91px;
	}

	#u2929-6,#u2942-6
	{
		margin-left: 0%;
		left: 0px;
	}

	#u4197-4
	{
		margin-top: 18px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#pu3267
	{
		margin-top: 14px;
		width: 100%;
	}

	#u3267
	{
		min-height: 418px;
		margin-right: -10000px;
		width: 88.13%;
		left: 5.63%;
	}

	#u3271-3
	{
		margin-right: -10000px;
		margin-top: 333px;
		width: 5.94%;
		left: 1.57%;
	}

	#u1907
	{
		min-height: 249.98333333333323px;
		padding-bottom: 0px;
	}

	#u1907_align_to_page
	{
		padding-top: 16px;
		padding-bottom: 20px;
		margin-bottom: -1px;
	}

	#u1966-4
	{
		width: 48.44%;
		left: 6.25%;
	}

	#u1969
	{
		margin-top: 6px;
		width: 78.44%;
		left: 15.32%;
	}

	#page_position_content,#u1970
	{
		width: 100%;
	}

	#u1907-bw
	{
		min-height: 249.98333333333323px;
		margin-top: -1px;
	}

	.html
	{
		background-image: url("../images/background320x480.jpg");
	}

	body
	{
		min-width: 320px;
	}

}

