	#menuu1944
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1952,#u1955
	{
		background-color: transparent;
	}

	#u1955:hover
	{
		background-color: #999999;
	}

	#u1955:active
	{
		background-color: #6B6B6B;
	}

	#u1958-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u1955:hover #u1958-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1955:active #u1958-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1955.MuseMenuActive,#u1959,#u1962
	{
		background-color: transparent;
	}

	#u1962:hover
	{
		background-color: #999999;
	}

	#u1962:active
	{
		background-color: #6B6B6B;
	}

	#u1963-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
	}

	#u1962:hover #u1963-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1962:active #u1963-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1962.MuseMenuActive,#u1945,#u1948
	{
		background-color: transparent;
	}

	#u1948:hover
	{
		background-color: #999999;
	}

	#u1948:active
	{
		background-color: #6B6B6B;
	}

	#u1948.MuseMenuActive
	{
		background-color: transparent;
	}

	#u1949-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
	}

	#u1948:hover #u1949-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1948:active #u1949-4 p
	{
		color: #FCEE21;
		visibility: inherit;
	}

	#u1955.MuseMenuActive #u1958-4 p,#u1962.MuseMenuActive #u1963-4 p,#u1948.MuseMenuActive #u1949-4 p
	{
		color: #FFFF00;
		visibility: inherit;
		text-decoration: underline;
		font-weight: bold;
	}

	#u1907_align_to_page
	{
		max-width: 1200px;
	}


